<header>
    <img src="../../assets/images/logo.png" alt="logo" />
    <nav>
        <ul>
            <li>Music</li>
            <li>Brands</li>
            <li>People</li>
            <li>Events</li>
            <li>Market</li>
            <li>Learning</li>
        </ul>
    </nav>
    <form>
        <input type="search" id="search" name="search" placeholder="Search">
        <img src="../../assets/images/search-icon.svg" alt="search icon" />
    </form>
    <div class="header-right-side">
        <img src="../../assets/images/envelope.svg" alt="envelope icon" />
        <img src="../../assets/images/bell.svg" alt="bell icon" />
        <img src="../../assets/images/users.svg" alt="users icon" />
        <img src="../../assets/images/user-img.png" alt="user image" />
        <img src="../../assets/images/en.png" alt="en" />
    </div>
</header>