@import 'src/app/scss/mixins';

header {
    background-color: #333333;
    padding: 15px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 15px;

    nav {
        ul {
            li {
                padding: 5px 0;
                
                a {
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "PT Sans";
                    margin-left: auto;
                    color: #ffffff;
                    padding: 10px;
                    cursor: pointer;
                    text-decoration: none;
                    @include transition(color 0.2 linear);
    
                    &:hover,
                    &.active {
                        color: #b8dc1e;
                    }
                }

                .fa-caret-down {
                    color: #ffffff;
                    cursor: pointer;
                    @include transition(color 0.2 linear);

                    &:hover {
                        color: #b8dc1e;
                    }
                }
            }
        }
    }

    form {
        max-width: 500px;
        width: 100%;
        display: flex;
        border-bottom: 1px solid #b8dc1e;
        padding: 5px;

        #search {
            background: transparent;
            border: none;
            outline: none;
            width: 100%;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            font-family: "PT Sans";
        }

        .fa-search {
            cursor: pointer;
            color: #b8dc1e;
            margin: 5px;
        }
    }
}

.header-right-side {
    display: flex;
    align-items: center;

    .envelope,
    .bell {
        position: relative;
        margin-top: 6px;

        .badge {
            position: absolute;
            padding: 2px;
            border-radius: 50%;
            bottom: 16px;
            left: 36px;
            font-size: 10px;
            width: 13px;
            height: 13px;
            align-items: center;
            display: flex;
            justify-content: center;
            background: #0a83ff;
            color: #ffffff;
        }
    }

    img {
        margin-left: 25px;
    }
}

.menu-bar {
    display: none;
}

.dropdown-content {
    display: none;
}

.select-language {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;

    img {
        margin-left: 0;
    }
}

.vertical-line {
    border-left: 1px solid #5c5c5c;
    height: 36px;
    margin-left: 25px;
}

@media (max-width: 992px) {
    .header-content {
        nav, 
        .header-right-side {
            display: none;
        }
    }

    form {
        margin: 0 20px;
    }

    .menu-bar {
        display: block;
        cursor: pointer;
        display: flex;
        font-size: 22px;
        color: #ffffff;
        @include transition(color 0.2 linear);

        &:hover {
            color: #b8dc1e;
        }
    }

    .dropdown-content {
        display: block;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333333;

        nav {
            ul {
                display: flex;
                flex-direction: column;

                li {
                    padding: 10px 0;

                    a {
                        color: #ffffff;
                        cursor: pointer;
                        text-decoration: none;
                        @include transition(color 0.2 linear);
        
                        &:hover,
                        &.active {
                            color: #b8dc1e;
                        }
                    }
                }
            }
        }
    }
}