<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-left-side">
                <img src="../../assets/images/logo-footer.png" alt="footer logo" />
                <span><strong>brand</strong>planet</span>
            </div>
            <div class="footer-right-side">
                <span>FEEDBACK</span>
                <div class="social-icons">
                    <img src="../../assets/images/google.svg" alt="google" />
                    <img src="../../assets/images/twitter.svg" alt="twitter" />
                    <img src="../../assets/images/facebook.svg" alt="facebook" />
                </div>
                <nav>
                    <ul>
                        <li><a href="#" title="About">About</a></li>
                        <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                        <li><a href="#" title="Term & Conditions">Term & Conditions</a></li>
                    </ul>
                </nav>
                <span class="gray-title">Brandplanet @2017</span>
            </div>
        </div>
    </div>
</footer>