@import 'src/app/scss/mixins';
@import 'src/app/scss/variables';

footer {
    background-color: $mainBlack;
    height: 110px;
    display: flex;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-left-side {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }

        span {
            color: $mainWhite;
            font-size: 18px;
            line-height: 25px;
            font-weight: 400;
            // font-family: "PT Sans", sans-serif;
        }
    }

    .footer-right-side {
        display: flex;
        align-items: center;

        span {
            margin-right: 20px;
            font-size: 13px;
            color: $mainGreen;
            font-weight: 700;
            font-family: "Open Sans";
        }

        .social-icons {
            img {
                margin-left: 20px;
            }

            &:before {
                content: '|';
                color: #919191;
            }

            &:after {
                content: '|';
                margin-left: 20px;
                color: #919191;
            }
        }

        nav {
            ul {
                li {
                    a {
                        margin-left: 10px;
                        text-decoration: none;
                        font-size: 15px;
                        color: $mainGreen;
                        font-weight: 400;
                        // font-family: "PT Sans", sans-serif;
                        @include transition(color .2s linear);

                        &:hover {
                            color: $mainWhite;
                        }

                        &::after {
                            content:"\A";
                            width: 5px;
                            height: 5px;
                            border-radius:50%;
                            background: #919191;
                            display: inline-block;
                            margin-left: 10px;
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }

        .gray-title {
            color: #919191;
            margin-left: 10px;
            font-size: 15px;
            font-weight: 400;
            font-family: "PT Sans", sans-serif;
        }
    }
}

@media (max-width: 992px) {
    footer {
        height: auto;
        padding: 20px 0;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left-side {
        margin-bottom: 20px;
    }

    .footer-right-side {
        display: flex;
        flex-direction: column;

        .social-icons {
            margin-top: 20px;
        }

        nav {
            ul {
                li {
                    margin: 20px 0;
                }
            }
        }
    }
}