footer {
    background-color: #333333;
    height: 110px;
    display: flex;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-left-side {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }

        span {
            color: #ffffff;
        }
    }

    .footer-right-side {
        display: flex;
        align-items: center;

        span {
            color: #b8dc1e;
            margin-right: 20px;
        }

        .social-icons {
            img {
                margin-left: 20px;
            }

            &:before {
                content: '|';
                color: #919191;
            }

            &:after {
                content: '|';
                margin-left: 20px;
                color: #919191;
            }
        }

        nav {
            ul {
                li {
                    a {
                        margin-left: 20px;
                        color: #b8dc1e;
                        text-decoration: none;
                    }
                }
            }
        }

        .gray-title {
            color: #919191;
            margin-left: 20px;
        }
    }
}

@media (max-width: 992px) {
    footer {
        height: auto;
        padding: 20px 0;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left-side {
        margin-bottom: 20px;
    }

    .footer-right-side {
        display: flex;
        flex-direction: column;

        .social-icons {
            margin-top: 20px;
        }

        nav {
            ul {
                li {
                    margin: 20px 0;
                }
            }
        }
    }
}