<main>
    <section class="editors">
        <div class="container">
            <h1>Editor's pick</h1>
        </div>
    </section>

    <section class="songs">
        <div class="container">
            <div class="song-boxes">
                <div class="song-box">
                    <div class="song-box-img">
                        <h2>Create you own</h2>
                        <div class="horizontal-line"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                    </div>
                </div>

                <div class="song-box">
                    <div class="black-circle-img">
                        <img src="../../assets/images/green-frame.png" alt="green frame" />
                        <img src="../../assets/images/note.svg" alt="note" />
                    </div>
                    <h3>Albums</h3>
                    <p>Create your Album and be discovered by your fans</p>
                    <button mat-button>CREATE ALBUM</button>
                </div>

                <div class="song-box">
                    <div class="black-circle-img">
                        <img src="../../assets/images/green-frame2.png" alt="green frame2" />
                        <img src="../../assets/images/note2.svg" alt="note2" />
                    </div>
                    <h3>Playlists</h3>
                    <p>Make your Playlists and share your music with others</p>
                    <button mat-button>MAKE PLAYLIST</button>
                </div>

                <div class="song-box">
                    <div class="black-circle-img">
                        <img src="../../assets/images/green-circle.png" alt="green circle" />
                        <img src="../../assets/images/white-lines.svg" alt="white lines" />
                    </div>
                    <h3>Songs</h3>
                    <p>Upload song and share it with Bandplanet family</p>
                    <button mat-button>UPLOAD SONG</button>
                </div>
            </div>
        </div>
    </section>

    <section class="most-popular">
        <div class="most-popular-content">
            <div class="container">
                <h2>Most Popular</h2>
                <div class="most-popular-boxes">
                    <div class="most-popular-box">
                        <div class="most-popular-box-header">
                            <span>SONGS</span>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-songs1.jpg" alt="most popular songs1" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/clock.svg" alt="clock" />
                                    <span>2.53</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-songs2.jpg" alt="most popular songs2" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/clock.svg" alt="clock" />
                                    <span>2.53</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-songs3.jpg" alt="most popular songs3" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/clock.svg" alt="clock" />
                                    <span>2.53</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-songs4.jpg" alt="most popular songs4" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/clock.svg" alt="clock" />
                                    <span>2.53</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-songs5.jpg" alt="most popular songs5" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/clock.svg" alt="clock" />
                                    <span>2.53</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="most-popular-box">
                        <div class="most-popular-box-header">
                            <span>ALBUMS</span>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-albums1.jpg" alt="most popular albums1" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/lines.svg" alt="lines" />
                                    <span>11</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-albums2.jpg" alt="most popular albums2" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/lines.svg" alt="lines" />
                                    <span>11</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-albums3.jpg" alt="most popular albums3" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/lines.svg" alt="lines" />
                                    <span>11</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-albums4.jpg" alt="most popular albums4" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/lines.svg" alt="lines" />
                                    <span>11</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-albums5.jpg" alt="most popular albums5" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/lines.svg" alt="lines" />
                                    <span>11</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="most-popular-box">
                        <div class="most-popular-box-header">
                            <span>PLAYLISTS</span>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-playlists1.jpg" alt="most popular playlists1" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/lines.svg" alt="lines" />
                                    <span>11</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-playlists2.jpg" alt="most popular playlists2" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/lines.svg" alt="lines" />
                                    <span>11</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-playlists3.jpg" alt="most popular playlists3" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/lines.svg" alt="lines" />
                                    <span>11</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <img src="../../assets/images/most-popular-playlists4.jpg" alt="most popular playlists4" />
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/lines.svg" alt="lines" />
                                    <span>11</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                        <div class="most-popular-box-row">
                            <div class="overlay-container">
                                <img src="../../assets/images/most-popular-playlists5.jpg" alt="most popular playlists5" />
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row-text">
                                <span>DJ Quatern</span>
                                <span>Bad and Boujee </span>
                                <div class="row-text-info">
                                    <img src="../../assets/images/lines.svg" alt="lines" />
                                    <span>11</span>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>17</span>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>17</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="latest">
        <div class="container">
            <h2>Latest</h2>
            <div class="latest-images-wrapper">
                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img1.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img2.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img3.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img4.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img5.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img6.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>

                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img7.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img8.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img9.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img10.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="overlay-container">
                        <div class="latest-img" style="background-image: url(../../assets/images/latest-img11.jpg)">
                            <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                                <div class="latest-image-icons">
                                    <div>
                                        <img src="../../assets/images/play.svg" alt="play" />
                                        <span>43</span>
                                    </div>
                                    <div>
                                        <img src="../../assets/images/heart.svg" alt="heart" />
                                        <span>122</span>
                                    </div>
                                </div>
                                <div class="latest-image-icons">
                                    <img src="../../assets/images/clock.svg" alt="clock" />
                                    <span>2:53</span>
                                </div>
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
                <div class="latest-box">
                    <div class="latest-img" style="background-image: url(../../assets/images/latest-img12.jpg)">
                        <div class="latest-image-effect" style="background-image: url(../../assets/images/latest-image-effect.png)">
                            <div class="latest-image-icons">
                                <div>
                                    <img src="../../assets/images/play.svg" alt="play" />
                                    <span>43</span>
                                </div>
                                <div>
                                    <img src="../../assets/images/heart.svg" alt="heart" />
                                    <span>122</span>
                                </div>
                            </div>
                            <div class="latest-image-icons">
                                <img src="../../assets/images/clock.svg" alt="clock" />
                                <span>2:53</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-text">
                        <span>DJ Quatern</span>
                        <span>Bad and Boujee</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="how-to">
        <div class="container">
            <h2>How to</h2>
            <div class="how-to-wrapper">
                <div class="how-to-box">
                    <div class="how-to-image" style="background-image: url(../../assets/images/how-to-img1.jpg)">
                    </div>
                    <div class="how-to-text-content">
                        <div class="left-side-content">
                            <p>General FAQ's<p>
                            <button mat-button>CATEGORY</button>
                        </div>
                        <mat-form-field appearance="none">
                            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="how-to-box">
                    <div class="how-to-image" style="background-image: url(../../assets/images/how-to-img2.jpg)">
                    </div>
                    <div class="how-to-text-content">
                        <div class="left-side-content">
                            <p>General FAQ's<p>
                            <button mat-button>CATEGORY</button>
                        </div>
                        <mat-form-field appearance="none">
                            <input matInput [matDatepicker]="picker1" [(ngModel)]="selectedDate1">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="how-to-box">
                    <div class="how-to-image" style="background-image: url(../../assets/images/how-to-img3.jpg)">
                    </div>
                    <div class="how-to-text-content">
                        <div class="left-side-content">
                            <p>General FAQ's<p>
                            <button mat-button>CATEGORY</button>
                        </div>
                        <mat-form-field appearance="none">
                            <input matInput [matDatepicker]="picker2" [(ngModel)]="selectedDate2">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="how-to-box">
                    <div class="overlay-container">   
                        <div class="how-to-image" style="background-image: url(../../assets/images/how-to-img4.jpg)">
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <img src="../../assets/images/hat.svg" alt="hat" />
                            </div>
                        </div>
                        <div class="how-to-text-content">
                            <div class="left-side-content">
                                <p>General FAQ's<p>
                                <button mat-button>CATEGORY</button>
                            </div>
                            <mat-form-field appearance="none">
                                <input matInput [matDatepicker]="picker3" [(ngModel)]="selectedDate3">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>