<main>
    <section class="editors">
        <h1>Editor's pick</h1>
    </section>
    <section class="songs">
        <div class="container">
            <div class="song-boxes">
                <div class="song-box">
                    <div class="song-box-img">
                        <h2>Create you own</h2>
                        <div class="horizontal-line"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                    </div>
                </div>
                <div class="song-box"></div>
                <div class="song-box"></div>
                <div class="song-box"></div>
            </div>
        </div>
    </section>
</main>