// Editors section

.editors {
    background-image: url("src/assets/images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 706px;
    width: 100%;
    display: flex;
    justify-content: center;

    h1 {
        font-size: 35px;
        color: #ffffff;
        font-weight: 700;
        font-family: "PT Sans";
        text-align: center;
    }
}

// Songs section

.songs {
    background-color: #eaecf2;
}

.song-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 65px;

    .song-box {
        width: 313px;
        height: 392px;
        background-color: #ffffff;
        margin-bottom: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .song-box-img {
            background-image: url("src/assets/images/create-your-own.jpg");
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                font-size: 30px;
                line-height: 12px;
                color: #ffffff;
                font-weight: 700;
                font-family: "PT Sans";
                text-align: center;
            }

            p {
                max-width: 262px;
                width: 100%;
                font-size: 15px;
                line-height: 22px;
                color: #ffffff;
                font-weight: 400;
                font-family: "PT Sans";
                text-align: center;
            }
        }

        .black-circle-img {
            background-image: url("src/assets/images/black-circle.jpg");
            background-repeat: no-repeat;
            background-position: center;
            width: 120px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                &:nth-child(2) {
                    position: absolute;
                }
            }
        }

        h3 {
            font-size: 30px;
            line-height: 12px;
            color: #333333;
            font-weight: 700;
            font-family: "PT Sans";
            text-align: center;
        }

        p {
            margin-top: 0;
            max-width: 233px;
            width: 100%;
            font-size: 18px;
            line-height: 22px;
            color: #333333;
            font-weight: 400;
            font-family: "PT Sans";
            text-align: center;
        }

        .mat-button, 
        .mat-icon-button, 
        .mat-stroked-button {
            background-color: #b8dc1e;
            border-radius: 0;
            font-size: 13px;
            color: #333333;
            font-weight: 700;
            font-family: "Open Sans";
        }
    }
}

.horizontal-line {
    width: 70px;
    border-bottom: 5px solid #b8dc1e;
}

// Most popular section 

.most-popular {
    background-image: url("src/assets/images/banner-most-popular.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 770px;
    width: 100%;
    position: relative;

    .most-popular-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    
        h2 {
            font-size: 35px;
            color: #ffffff;
            font-weight: 700;
            font-family: "PT Sans";
            text-align: center;
            margin-top: 0;
            margin-bottom: 60px;
        }
    }
}

.most-popular-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.most-popular-box {
    width: 32%;
    margin: 10px 0;
}

.most-popular-box-header {
    height: 60px;
    background-color: #333333;
    border-bottom: 5px solid #bbdd28;
    display: flex;
    align-items: center;
    padding-left: 10px;

    span {
        font-size: 15px;
        color: #ffffff;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
    }
}

.most-popular-box-row {
    display: flex;
    padding: 10px;
    background: #ffffff;
}

.row-text {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    span {
        &:nth-child(1) {
            font-weight: 400;
            font-size: 16px;
            font-family: 'PT Sans', sans-serif;
        }

        &:nth-child(2) {
            font-weight: 700;
            font-size: 16px;
            font-family: 'PT Sans', sans-serif;
        }
    }

    .row-text-info {
        display: flex;
        align-items: center;

        span {
            font-size: 15px;
            line-height: 12px;
            color: #adadad;
            font-weight: 400;
            font-family: "PT Sans";
            margin: 0 5px;
        }
    }
}

//Latest section

.latest {
    background-color: #ffffff;
    padding: 80px 0 90px 0;
    
    h2 {
        text-align: center;
    }
}

.latest-images-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.latest-box {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    // width: calc(16.67% - 40px);
}

.latest-img {
    background-image: url("src/assets/images/latest-img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 212px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.latest-image-icons {
    color: #ffffff;
    margin: 15px;

    img {
        margin-right: 10px;
    }

    > div {
        margin-top: 10px;

        img {
            margin-right: 10px;
        }
    }
}

// .latest-text {
//     display: flex;
//     flex-direction: column;
// }

// How to section

.how-to {
    background-color: #eaf0f6;
    padding: 70px 0;

    h2 {
        position: relative;
        text-align: center;

        &::before {
            content: "";
            display: block;
            height: 1px;
            background-color: #000000;
            position: absolute;
            top: 13px;
            left: 0;
            width: calc(50% - 60px);
        } 

        &::after {
            content: "";
            display: block;
            height: 1px;
            background-color: #000000;
            position: absolute;
            top: 13px;
            right: 0;
            width: calc(50% - 60px);
        } 
    }
}

.how-to-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.how-to-text-content {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    border-top: 10px solid #b8dc1e;
    margin-top: -4px;
}

.right-side-content {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

// Media query

@media (max-width: 992px) {
    .most-popular {
        height: 1290px;
    }

    .most-popular-box {
        width: 48%;
    }
}

@media (max-width: 670px) {
    .song-boxes {
        justify-content: center;
    }
}

@media (max-width: 651px) {
    .how-to-wrapper {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .most-popular {
        height: 1810px;
    }

    .most-popular-box {
        width: 100%;
    }
}

@media (max-width: 441px) {
    .latest-images-wrapper {
        justify-content: center;
    }
}